@page "/productos/{category}"

<PageTitle>Productos - @Category</PageTitle>

<main>
    <CategorySection Category="@Category" />
</main>

@code {
    [Parameter]
    public string? Category { get; set; }
}