@page "/"
@using Models

<PageTitle>My Pharmacy</PageTitle>

<h1>PRODUCTS:</h1>

<table>
    <thead>
    <th>Id</th>
    <th>Ean</th>
    <th>Name</th>
    <th>Slug</th>
    <th>Brand</th>
    <th>Category</th>
    <th>SubCategory</th>
    <th>ListPrice</th>
    <th>Selling Price</th>
    <th>Is in stock</th>
    <th>ImageUrls</th>
    </thead>
    <tbody>
    
    </tbody>
</table>

@code {
    private ProductSummary[] _products = [
    new()
    {
        Id = 1,
        Ean = "0011418462823",
        Name = "Alka Seltzer Efervescente Extreme Boost Caja X 50 Tabletas - Precio Indicado Por Unidad -",
        Slug = "efervecente-alka-seltzer-extreme-boost-50-tabletas-precio-indicado-por-unidad",
        Brand = "BAYER",
        Category = "Sistema digestivo y Antiparasitarios",
        SubCategory = "Sueros",
        ListPrice = 2,
        SellingPrice =  12,
        IsInStock = true,
        ImageUrls = [
            "https://walmartgt.vtexassets.com/arquivos/ids/536543/907_01.jpg"
            ]
    }];
}