@page "/"
<PageTitle>My Pharmacy</PageTitle>

<main class="home-page">
    <CategoriesSection />
    <FeaturedProductsSection />
    <Banner />
    <LatestProductsSection />
    <BlogSection />
</main>