@page "/"

<PageTitle>My Pharmacy</PageTitle>

<h1>Hello, Blazr!</h1>

<table>
    <thead>
    <th>Id</th>
    <th>Ean</th>
    <th>Name</th>
    <th>Slug</th>
    <th>Brand</th>
    <th>Category</th>
    <th>SubCategory</th>
    <th>ListPrice</th>
    <th>Selling Price</th>
    <th>Is in stock</th>
    <th>ImageUrls</th>
    </thead>
    <tbody>
    
    </tbody>
</table>