@page "/productos/{category}/{slug}"

<PageTitle>Productos - @Slug</PageTitle>

<main>
    <ProductDetailsSection Category="@Category" Slug="@Slug" />
</main>

@code {
    [Parameter]
    public string? Category { get; set; }
    
    [Parameter]
    public string? Slug { get; set; }
}